@model Category
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="card-body">
        <h5 class="card-title">Create Category</h5>
        <form class="forms-sdample" method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="examplePassword11" class="">Password</label><input name="password" id="examplePassword11" placeholder="password " type="password"
                                                                                       class="form-control">
                    </div>
                </div>
            </div>


            <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Check me out</label></div>
            <button class="mt-2 btn btn-primary">Submit</button>
            <aclass="btn  btn-light" asp-action="Index">Cancel </a>
        </form>
    </div>
</div>
@section Script{

    <partial name="_ValidationPartial" />
}